<!DOCTYPE HTML>
<meta charset="utf-8">
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
        <div class="form-group">
            <label for="username">이름</label>
            <input type="text" id="username" name="username" placeholder="이름을 입력하세요">
            <br>
            <label for="password">비밀번호</label>
            <input type="text" id="password" name="password" placeholder="비밀번호를 입력하세요">
            <br>
            <label for="title">제목</label>
            <input type="text" id="title" name="title" placeholder="제목을 입력하세요">
            <br>
            <label for="contents">내용</label>
            <input type="text" id="contents" name="contents" placeholder="내용을 입력하세요">
        </div>
        <button type="button" onclick="submitForm()">등록</button>
    <a href="/">처음으로 돌아가기</a>
</div> <!-- /container -->

<div id="resultMessage"></div>
</body>
</html>


<script>
    function submitForm() {
        var formData = {
            username: document.getElementById('username').value,
            password: document.getElementById('password').value,
            title: document.getElementById('title').value,
            contents: document.getElementById('contents').value
        };

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/mypost/create', true);
        xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
                var resultMessage = document.getElementById('resultMessage');
                if (xhr.status === 200) {
                    resultMessage.innerHTML = '등록 성공'; // 결과 메시지를 화면에 표시
                } else {
                    resultMessage.innerHTML = '등록 실패'; // 에러 메시지를 화면에 표시
                }
            }
        };

        xhr.send(JSON.stringify(formData));
    }
</script>