<!DOCTYPE HTML>
<meta charset="utf-8">
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
        <form action = "/mypost/create" method="POST">
            <label for="username">이름</label>
            <input type="text" id="username" name="username" placeholder="이름을 입력하세요" required>
            <br>
            <label for="password">비밀번호</label>
            <input type="text" id="password" name="password" placeholder="비밀번호를 입력하세요" required>
            <br>
            <label for="title">제목</label>
            <input type="text" id="title" name="title" placeholder="제목을 입력하세요" required>
            <br>
            <label for="contents">내용</label>
            <input type="text" id="contents" name="contents" placeholder="내용을 입력하세요" required>
            <button type="submit">등록</button>
        </form>

    <a href="/">처음으로 돌아가기</a>
</div> <!-- /container -->

</body>
</html>

