<!DOCTYPE HTML>
<meta charset="utf-8">
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div class="form-group">
      <label for="password">비밀번호</label>
      <input type="text" id="password" name="password" placeholder="비밀번호를 입력하세요">
    </div>
    <button onclick="addPasswordToURL()">삭제</button>
    <a href="/">처음으로 돌아가기</a>
</div> <!-- /container -->

<div id="resultMessage"></div> <!-- 결과 메시지를 표시할 div -->

<script th:inline="javascript">
    function addPasswordToURL() {
        var password = document.getElementById('password').value;
        var postId = /*[[${postId}]]*/ null; // Thymeleaf 표현식으로 postId 값을 가져옵니다.
        var baseUrl = '/mypost/' + postId; // 원하는 URL로 변경
        var passwordParam = '?password=' + password;
        var finalUrl = baseUrl + passwordParam;
        var xhr = new XMLHttpRequest();

        xhr.open("DELETE", finalUrl, true); // true: 비동기적으로 요청을 처리
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
                var resultMessage = document.getElementById('resultMessage');
                if (xhr.status === 200) {
                    resultMessage.innerHTML = '삭제 성공'; // 결과 메시지를 화면에 표시
                } else {
                    resultMessage.innerHTML = '삭제 실패'; // 에러 메시지를 화면에 표시
                }
            }
        };
        xhr.send();
    }


</script>

</body>
</html>