<!DOCTYPE HTML>
<meta charset="utf-8">
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th style="width: 100px">No</th>
        <th style="width: 100px">이름</th>
          <th style="width: 100px">제목</th>
        <th style="width: 250px">내용</th>
        <th style="width: 100px"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td style="width: 100px; text-align: center" th:text="${post.id}"></td>
        <td style="width: 100px; text-align: center" th:text="${post.username}">이름</td>
          <td style="width: 100px; text-align: center" th:text="${post.title}">제목</td>
        <td style="width: 250px; text-align: center" th:text="${post.contents}">내용</td>
        <td style="width: 100px; text-align: center">
          <form th:action="@{'/mypost/' + ${post.id} + '?password=' + ${post.password}}" th:method="delete">
<!--            기본적으로 form 태그에서는 post와 get밖에 지원안하지만 hidden input이라 th를 사용하면 delete도 사용가능하다카더라-->
            <button type="submit">삭제</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>