<!DOCTYPE HTML>
<meta charset="utf-8">
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th style="width: 100px">No</th>
        <th style="width: 100px">이름</th>
        <th style="width: 500px">내용</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td style="width: 100px; text-align: center" th:text="${members.id}">1</td>
        <td style="width: 100px; text-align: center" th:text="${members.username}">이름</td>
<!--        <td th:text="${members.password}"></td>-->
        <td style="width: 500px; text-align: center" th:text="${members.contents}">내용</td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>